<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TaskForest</title>
        <meta charset="utf-8">
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">
        <link rel="stylesheet" href="css/styles.css?v=1.0">
    </head>
    <body>
        <h1>It works.</h1>

        <ol>
            <li th:each="task: ${tasks}" th:text="${task}"></li>
        </ol>

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Author</th>
                    <th>Created at</th>
                    <th>Attachments</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task: ${tasks}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.title}"></td>
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.author}"></td>
                    <td th:text="${task.createdAt}"></td>
                    <td th:text="${task.attachments}"></td>
                    <td>
                        <form th:action="@{/tasks/delete/{id}(id=${task.id})}" action="#" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <form th:object="${newTask}" th:action="@{/tasks}" action="#" method="post" enctype="multipart/form-data">
            <fieldset>
                <label>
                    Title <input type="text" th:field="*{title}" />
                </label>
            </fieldset>
            <fieldset>
                <label>
                    Description <textarea th:field="*{description}" ></textarea>
                </label>
            </fieldset>
            <fieldset>
                <label>
                    Author <input type="text" th:field="*{author}" />
                </label>
            </fieldset>
            <fieldset>
                <label>
                    Attachment <input type="file" name="attachment" />
                </label>
            </fieldset>
            <fieldset>
                <label>
                    Attachment comment <input type="text" th:field="*{attachmentComment}" />
                </label>
            </fieldset>
            <button type="submit">Add task</button>
        </form>
    </body>
</html>